* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}


/* reset styles */



ul,
ol,
menu {
	list-style: none;
}

button{
  background: none;
  color: white;
  border: none;
  padding: 10px;
}

/* SETUP VIEWPORT MAIN AND FOOTER */

main{
  width: 100vw;
  height: 90vh;
  background-color: black;
}

footer{
  width: 100vw;
  height: 10vh;
  background-color: #222222;
}

/**************** MAIN SECTION **************/


.up-right-button1{
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  right: 40px;
  top: 7px;
  border-radius: 5px;
  padding: 5px;
}

.up-right-button2{
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  right: 8px;
  top: 7px;
  border-radius: 5px;
  padding: 5px;
}

.container{
  height: 90vh;
  /* width: 1817px; */
  padding: 80px 90px 5px 90px;
  
  
}

.row{
  display: flex;
  justify-content: space-between;
  align-content: center;
  row-gap: x;
  justify-content: center;
  column-gap: 5px;
  flex-wrap: wrap; /* uso il wrap per far andare a capo i vari elementi */
  row-gap: 10px;
}

.mountain-img{
  width: 12vw;
}

/***** POSITIONING MICROPHONE WITH USERNAME ***/

.image-col{
  position: relative;
}

.microphone-username{
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  z-index: 10;
  left: 0px;
  bottom: 4px;
}


/***************** FOOTER SECTION *******************/



/* fine reset */

.container-footer{
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

ul {
  display: flex;
}

.icon{
  font-size: 30px;
}

.button-name{
  padding-top: 10px;
  font-size: 18px;
}

.end-meeting{
  background-color: grey;
  color: red;
}

.right-section{
  background-color: grey;
}

.fa-share-from-square{
  color: rgb(0, 218, 0);
}




