* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul,
ol,
menu {
	list-style: none;
}

/* SETUP VIEWPORT MAIN AND FOOTER */

main{
  width: 100vw;
  height: 90vh;
  background-color: black;
}

footer{
  width: 100vw;
  height: 10vh;
  background-color: grey;
}

/**************** MAIN SECTION **************/

.container{
  /* width: 1817px; */
  padding: 80px 90px 30px 90px;
}

.row{
  display: flex;
  flex-direction: column;
}

.mountain-img{
  width: 250px;
  height: 150px;
}
















